PORT=3000

# Autenticação da API
AUTH_USER=tudopassa
AUTH_PASSWORD_HASH=COLE_AQUI_O_HASH_GERADO

# JWT
JWT_SECRET=COLOQUE_AQUI_UMA_CHAVE_LONGA_E_ALEATORIA
JWT_EXPIRES_IN=8h

# mock = dados de teste | oracle = banco real
DATA_SOURCE=mock

# Oracle / Winthor
ORACLE_USER=totvs
ORACLE_PASSWORD=alterar
ORACLE_CONNECT_STRING=192.168.0.10:1521/WINTHOR

# Opcional
ORACLE_POOL_MIN=1
ORACLE_POOL_MAX=5
ORACLE_POOL_INCREMENT=1
